Repository HabitatMap/AircastingAndroid, pull requests merged in 2022-06, with the labels that each got.

#444 OnMarkers click handling + fix for the duplicate borders show
  app/src/main/java/pl/llp/aircasting/ui/view/adapters/FixedFollowAdapter.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedResultActivity.kt
  app/src/main/res/drawable/card_view_border_search.xml
  build.gradle
Labels: enhancement, Refactoring

#453 Chip Groups Selection Fix
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedResultActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedSessionsActivity.kt
  app/src/main/res/layout/activity_search_fixed_sessions.xml
  build.gradle
Labels: Refactoring, Search Feature

#458 Follow/Unfollow Logic | Search&Follow
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedBottomSheet.kt
  app/src/main/java/pl/llp/aircasting/ui/viewmodel/SearchFollowViewModel.kt
  app/src/main/res/layout/search_follow_bottom_sheet.xml
  app/src/main/res/values-b+es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, wip, Search Feature

#465 Search location | Search and follow
  app/src/main/java/pl/llp/aircasting/ui/view/adapters/FixedFollowAdapter.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedResultActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedSessionsActivity.kt
  app/src/main/java/pl/llp/aircasting/util/extensions.kt
Labels: Search Feature

#469 Finish Button | Adding missing parts
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedBottomSheet.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedResultActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedSessionsActivity.kt
  app/src/main/res/layout/app_bar.xml
  app/src/main/res/layout/search_follow_bottom_sheet.xml
  app/src/main/res/values-b+es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values/strings.xml
Labels: wip, Search Feature

#471 Crash affecting one user with Android 12 devices
  app/src/main/java/pl/llp/aircasting/networking/responses/SessionResponse.kt
  app/src/main/java/pl/llp/aircasting/networking/services/SessionDownloadService.kt
Labels: test

#477 Fatal Exception: android.content.ActivityNotFoundException
  app/src/main/java/pl/llp/aircasting/screens/settings/SettingsFragment.kt
Labels: bug, Refactoring

#479 Improvements | Bug fixes
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedResultActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedSessionsActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/settings/SettingsController.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/settings/SettingsViewMvcImpl.kt
  app/src/main/java/pl/llp/aircasting/util/BindingAdapter.kt
  app/src/main/java/pl/llp/aircasting/util/extensions.kt
  app/src/main/res/values-b+es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: Refactoring, Search Feature

#482 AirBeam3 Sessions and Measurements
  app/src/main/java/pl/llp/aircasting/data/api/Constants.kt
  app/src/main/java/pl/llp/aircasting/data/api/params/MeasurementParams.kt
  app/src/main/java/pl/llp/aircasting/data/api/repository/ActiveFixedSessionsInRegionRepository.kt
  app/src/main/java/pl/llp/aircasting/data/api/repository/SearchedFixedSessionsRepository.kt
  app/src/main/java/pl/llp/aircasting/data/api/response/search/Sensor.kt
  app/src/main/java/pl/llp/aircasting/data/api/response/search/Streams.kt
  app/src/main/java/pl/llp/aircasting/data/api/services/ApiService.kt
  app/src/main/java/pl/llp/aircasting/data/api/services/DownloadMeasurementsCallback.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/ApiConstants.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/Constants.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/Ozone.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/ParticulateMatter.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/SensorName.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/SensorNames.kt
  app/src/main/java/pl/llp/aircasting/data/api/util/StringConstants.kt
  app/src/main/java/pl/llp/aircasting/data/local/repository/ActiveSessionMeasurementsRepository.kt
  app/src/main/java/pl/llp/aircasting/di/modules/NetworkModule.kt
  app/src/main/java/pl/llp/aircasting/ui/view/adapters/FixedFollowAdapter.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/dashboard/charts/ChartAveragesCreator.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/dashboard/charts/ChartRefreshService.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/dashboard/charts/ExternalSessionChartDataCalculator.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedBottomSheet.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedResultActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedSessionsActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/session_view/SelectedSensorBorder.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/session_view/SessionDetailsViewMvcImpl.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/session_view/StatisticsContainer.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/session_view/measurement_table_container/MeasurementsTableContainer.kt
  app/src/main/java/pl/llp/aircasting/ui/viewmodel/SearchFollowViewModel.kt
  app/src/main/res/layout/measurements_table_binding.xml
  app/src/main/res/layout/search_follow_bottom_sheet.xml
  app/src/main/res/layout/stream_measurement_header_and_value.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, Search Feature

#483 Disable follow feature for your sessions
  app/src/main/java/pl/llp/aircasting/ui/view/screens/create_account/CreateAccountService.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/login/LoginActivity.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/login/LoginService.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedBottomSheet.kt
  app/src/main/java/pl/llp/aircasting/ui/viewmodel/SearchFollowViewModel.kt
  app/src/main/java/pl/llp/aircasting/util/Settings.kt
  app/src/main/res/layout/search_follow_bottom_sheet.xml
Labels: enhancement, Search Feature

#485 Arrange session button disappeared | External sessions
  app/src/main/java/pl/llp/aircasting/ui/viewmodel/SearchFollowViewModel.kt
Labels: bug, Search Feature

#486 ProgressBar on the BottomSheet
  app/src/main/java/pl/llp/aircasting/AircastingApplication.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedBottomSheet.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/session_view/SessionDetailsViewMvcImpl.kt
  app/src/main/java/pl/llp/aircasting/ui/view/screens/session_view/measurement_table_container/MeasurementsTableContainer.kt
  app/src/main/java/pl/llp/aircasting/util/BindingAdapter.kt
  app/src/main/res/layout/search_follow_bottom_sheet.xml
Labels: enhancement, Search Feature

#487 Chart not updating
  app/src/main/java/pl/llp/aircasting/data/api/services/DownloadMeasurementsCallback.kt
  app/src/main/java/pl/llp/aircasting/data/api/services/DownloadMeasurementsService.kt
  app/src/main/java/pl/llp/aircasting/data/api/services/LastMeasurementTimeStringFactory.kt
  app/src/main/java/pl/llp/aircasting/data/api/services/MeasurementsFactory.kt
  app/src/main/java/pl/llp/aircasting/data/model/Measurement.kt
  app/src/main/java/pl/llp/aircasting/util/DateConverter.kt
  app/src/main/java/pl/llp/aircasting/util/helpers/sensor/airbeam3/sync/CSVSession.kt
Labels: bug

#491 30 31 migration fix
  app/build.gradle.kts
  app/schemas/pl.llp.aircasting.data.local.AppDatabase/31.json
  app/src/androidTest/java/pl/llp/aircasting/FixedSessionTest.kt
  app/src/androidTest/java/pl/llp/aircasting/MobileSessionTest.kt
  app/src/androidTest/java/pl/llp/aircasting/MyAccountTest.kt
  app/src/androidTest/java/pl/llp/aircasting/TestAppComponent.kt
  app/src/main/java/pl/llp/aircasting/data/local/entity/measurement_streams.kt
  app/src/main/java/pl/llp/aircasting/data/local/entity/sessions.kt
  app/src/main/java/pl/llp/aircasting/data/local/migrations/migration_31.kt
  app/src/main/java/pl/llp/aircasting/data/model/Session.kt
Labels: chore

#493 Bottomsheet button radius
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/styles.xml
Labels: chore

#497 Improvements | UI - Search and follow
  app/src/main/java/pl/llp/aircasting/ui/view/screens/search/SearchFixedBottomSheet.kt
  app/src/main/res/layout/item_sesssions_list_fixed_follow.xml
  app/src/main/res/layout/search_follow_bottom_sheet.xml
  app/src/main/res/values-b+es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values/strings.xml
Labels: Refactoring, Search Feature
